@font-face {
    font-family: 'Bianco Serif Trial';
    src: url('BiancoSerifTrial-Bold.eot');
    src: url('BiancoSerifTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('BiancoSerifTrial-Bold.woff2') format('woff2'),
        url('BiancoSerifTrial-Bold.woff') format('woff'),
        url('BiancoSerifTrial-Bold.ttf') format('truetype'),
        url('BiancoSerifTrial-Bold.svg#BiancoSerifTrial-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bianco Serif Trial';
    src: url('BiancoSerifTrial-Regular.eot');
    src: url('BiancoSerifTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('BiancoSerifTrial-Regular.woff2') format('woff2'),
        url('BiancoSerifTrial-Regular.woff') format('woff'),
        url('BiancoSerifTrial-Regular.ttf') format('truetype'),
        url('BiancoSerifTrial-Regular.svg#BiancoSerifTrial-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bianco Serif Trial';
    src: url('BiancoSerifTrial-ExtraBold.eot');
    src: url('BiancoSerifTrial-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('BiancoSerifTrial-ExtraBold.woff2') format('woff2'),
        url('BiancoSerifTrial-ExtraBold.woff') format('woff'),
        url('BiancoSerifTrial-ExtraBold.ttf') format('truetype'),
        url('BiancoSerifTrial-ExtraBold.svg#BiancoSerifTrial-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

